

<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Practice Handlebars</title>

</head>



<body>

    <header>

        <h1>Musics and much more!</h1>

        {{> menu }}

    </header>

    <main>

        {{{ body }}}

    </main>

    <footer>

        <p>&copy; João Vitor Campos 2025.</p>

    </footer>

</body>



</html>


