


<nav>

    <ul style="display: flex; justify-content: start; list-style: none;">

        <li><a href="/">Home</a>&nbsp;</li>

        <li><a href="/musics">Musics</a>&nbsp;</li>

        <li><a href="/singers">Singers</a>&nbsp;</li>

        <li><a href="/albums">Albuns</a>&nbsp;</li>

    </ul>

</nav>



